*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    display: block;
    width: 80%;
    margin: 0px auto;
}

li {
    display: block;
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    font-size: 20px;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
}

li:hover{
    background-color: rgb(51, 153, 51);
}